* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout{
    width: 100%;
    height: 100vh;
}

/* 헤더 */
.header{

}

/* 메인 */
.main{

}

/* 푸터 */
.footer{

}

.wrapper{
 width: 100;
}
